[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
networkx = "*"
renku = {editable = true, git = "https://github.com/SwissDataScienceCenter/renku-python.git"}

[dev-packages]

[requires]
python_version = "3.6"
