<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>UTF-8</charset>
            <pattern>[%level] %message%n</pattern>
        </encoder>
    </appender>

    <appender name="ASYNC_STDOUT" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="STDOUT"/>
    </appender>

    <logger name="application" level="ERROR" additivity="false">
        <appender-ref ref="ASYNC_STDOUT"/>
    </logger>

    <logger name="test" level="INFO" additivity="false">
        <appender-ref ref="ASYNC_STDOUT"/>
    </logger>

    <logger name="com.github.tomakehurst.wiremock" level="OFF">
        <appender-ref ref="ASYNC_STDOUT"/>
    </logger>

    <logger name="org.http4s.blaze.channel.nio1.NIO1SocketServerGroup" level="ERROR" additivity="false">
        <appender-ref ref="ASYNC_STDOUT"/>
    </logger>

    <root level="ERROR">
        <appender-ref ref="ASYNC_STDOUT"/>
    </root>

</configuration>